.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.icon_container {
  padding: 0.25rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
}
.NavLink {
  text-decoration: none;
}

.Tabs {
  background: var(--joy-palette-neutral-50);

  .NavLink {
    min-width: 180px;
  }

  .NavLink_active {
    background-color: transparent;
    box-shadow: none;
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      bottom: -4px;
      left: 8px;
      right: 8px;
      height: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #096bde;
    }

    svg {
      color: black;
    }
  }
}

.TabList {
  margin-left: -16px;
  align-self: flex-start;
}
