@import "../../styles/variables";

.container {
  min-width: min(48rem, 100%);
  background-color: $white;
  min-height: calc(100vh - 9rem);
  padding: 2rem;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_empty {
    text-align: center;
  }
}

.image_container {
  position: relative;
  flex: 1;
  width: 100%;
  margin-bottom: 2rem;
  min-height: 20rem;
}

.pokemon_image {
  background: $white;
  object-fit: contain;
  padding: 1rem;
  border-radius: $border-radius;
}

.header {
  display: flex;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subheader {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.types {
  margin-top: 0.5rem;
  display: inline-flex;
}

.type:not(:last-of-type) {
  margin-right: 0.5rem;
}

.stat {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;

  & > label {
    margin-right: 2rem;
    color: color($grey, 600);
  }
}

.stat_item {
  display: inline-grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 0.5rem;
}

.evolution_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  border-radius: $border-radius;

  li {
    display: flex;
  }
}

.evolution {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  border: $border;
  border-radius: $border-radius;
  opacity: 0.5;
  transition: opacity $transition-timing, box-shadow $transition-timing;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &_selected {
    opacity: 1;
  }
}
