@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.icon_container,
.chip_container {
  display: inline-flex;
  align-items: center;
  color: $white;
}

.icon_container {
  padding: 0.4rem;
  border-radius: 50%;

  @include media("sm") {
    padding: 0.3rem;
  }

  & > .icon {
    font-size: 1.2rem;

    @include media("sm") {
      font-size: 1rem;
    }
  }
}

.chip_container {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: $border-radius-lg;
  font-weight: 500;
  font-size: 1.4rem;

  & > .icon {
    font-size: 1.2rem;
    margin-right: 0.75rem;
  }
}
