@import "../../../styles/variables";

$min-height: 72rem;
$min-width: 48rem;
$margin: 4.5rem;
$total-min-height: calc($min-height + $margin);

.root {
  position: fixed;
  z-index: 1000;
  top: $margin;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: calc(100vh - $margin);
  &:global(.MuiModal-hidden) {
    visibility: hidden;
  }
}

.backdrop {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-tap-highlight-color: transparent;
}

.content {
  position: relative;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  height: 100%;
  width: min($min-width, 100%);

  @media only screen and (max-height: 765px) {
    background-color: $white;
  }
}

.scroll_body {
  height: 100%;
  border-top-left-radius: $border-radius;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: -0.5rem;
  right: 0;
  transform: translateY(-100%);
  background: transparent;
  color: color($grey, 100);

  &:hover {
    background: rgba($white, 0.1);
  }
}
