@import "../../../styles/variables";

.root {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}

.label {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  color: color($grey, 600);
}

.slider {
  color: color($grey, 300);
  flex: 1;
  padding: 0;
  display: inline-flex;
  position: relative;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.rail,
.track {
  display: block;
  height: 1.2rem;
  border-radius: $border-radius-lg;
}

.rail {
  width: 100%;
  background-color: color($grey, 100);
}

.track {
  position: absolute;
  background-color: color($blue, 500);
}

.thumb {
  position: absolute;
  margin-top: -0.5rem;
  border-radius: 0.4rem;
  outline: 0;
  border: $border;
  font-weight: 500;
  background-color: $white;
  // plus 1px for the border
  transform: translateX(calc(-100% + 1px));
}

.value {
  font-family: $font-family;
  font-size: 1.2rem;
  display: block;
  position: relative;
  padding: 0.2rem 0.5rem;
  color: color($text, "secondary");
}
