$grey: (
  50: #f7f7f8,
  100: #eeeff0,
  200: #dddee0,
  300: #bdbfc4,
  400: #9da1ac,
  500: #81848f,
  600: #646872,
  700: #42454d,
  800: #272930,
  900: #131418,
);

$blue: (
  50: #f4faff,
  100: #ddf1ff,
  200: #addbff,
  300: #6fb6ff,
  400: #3990ff,
  500: #096bde,
  600: #054da7,
  700: #02367d,
  800: #072859,
  900: #00153c,
);

$primary: map-get($blue, 500);
$white: #fff;
$black: map-get($grey, 900);

@function color($name, $shade: 500) {
  $color: map-get($name, $shade);
  @return $color;
}

$text: (
  "disabled": rgba(0, 0, 0, 0.38),
  "primary": color($grey, 900),
  "secondary": color($grey, 600),
);

$pokemon-colors: (
  bug: #9dc130,
  dark: #5f606d,
  dragon: #0773c7,
  electric: #edd53f,
  fairy: #ef97e6,
  fighting: #d94256,
  fire: #ca9760,
  flying: #9bb4e8,
  ghost: #6970c5,
  grass: #5dbe62,
  ground: #d78555,
  ice: #7ed4c9,
  normal: #9a9da1,
  poison: #b563ce,
  psychic: #f87c7a,
  rock: #cec18c,
  steel: #5596a4,
  water: #559edf,
);
